<section class="w-50 mx-auto rounded p-3 shadow" *ngIf="step1">
  <form [formGroup]="getEmail" (ngSubmit)="userEmail()">
    <input
      type="email"
      class="form-control w-100"
      placeholder=" Enter Your Email"
      formControlName="email"
    />

    <button class="btn-main w-100 my-3">Check Email</button>
  </form>
</section>

<section class="w-50 mx-auto rounded p-3 shadow" *ngIf="step2">
  <form [formGroup]="getResetCode" (ngSubmit)="resetCode()">
    <input
      type="text"
      class="form-control w-100"
      placeholder=" Enter Reset Code"
      formControlName="resetCode"
    />
    <button class="btn-main w-100 my-3">Check Reset Code</button>
  </form>
</section>

<section class="w-50 mx-auto rounded p-3 shadow" *ngIf="step3">
  <form [formGroup]="newPassword" (ngSubmit)="resetPassword()">
    <input
      type="text"
      class="form-control w-100"
      placeholder=" Enter New Password"
      formControlName="newPassword"
    />
    <p class="alert alert-light text-center my-3">
      must start with capital letter and at least 6 chars
    </p>
    <button class="btn-main w-100 my-3">Submit</button>
  </form>
</section>
