<section class="bg-main-light p-5 pb-2">
  <div class="container">
    <h3>Get The FreshCart App</h3>
    <h5 class="text-muted h6 py-3">We Well Send You a Link</h5>
  </div>

  <div class="d-flex justify-content-evenly align-items-center mx-auto px-5">
    <input type="email" class="rounded form-control" placeholder=" Email" />
    <button class="btn-main w-25 ms-3">Share APP Link</button>
  </div>
  <div class="px-5 text-center py-2">
    <hr />
    <p>© 2024 All Rights Reserved</p>
  </div>
</section>
