<!-- main slider -->
<section class="my-3">
  <div class="row g-0">
    <div class="col-md-9">
      <owl-carousel-o [options]="mainSliderOption">
        <ng-template carouselSlide
          ><img
            class="w-100"
            src="./assets/images/main-slider-1.jpeg"
            alt=""
            height="400"
        /></ng-template>
        <ng-template carouselSlide
          ><img
            class="w-100"
            src="./assets/images/main-slider-2.jpeg"
            alt=""
            height="400"
        /></ng-template>
        <ng-template carouselSlide
          ><img
            class="w-100"
            src="./assets/images/main-slider-3.jpeg"
            alt=""
            height="400"
        /></ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-3">
      <img
        height="200"
        src="./assets/images/main-slider-2.jpeg"
        class="w-100"
        alt=""
      />
      <img
        height="200"
        src="./assets/images/main-slider-3.jpeg"
        class="w-100"
        alt=""
      />
    </div>
  </div>
</section>

<!-- categories slider -->
<section class="my-4">
  <owl-carousel-o [options]="categoriesSliderOption">
    <ng-container *ngFor="let category of categories">
      <ng-template carouselSlide>
        <div class="text-center">
          <img [src]="category.image" height="290" [alt]="category.name" />
          <h3 class="h5">{{ category.name }}</h3>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>

<!-- popular products -->
<section>
  <h1>Popular Products</h1>
  <input
    type="search"
    class="form-control w-75 my-4 mx-auto"
    placeholder="Search by Title...."
    [(ngModel)]="searchTerm"
  />
  <div class="row g-4">
    <div
      class="col-md-2"
      *ngFor="let product of proudcts | search : searchTerm"
    >
      <div class="product py-2 px-3">
        <i
          class="fa-regular fa-heart heart cursor-pointer"
          (click)="AddFav(product._id)"
          *ngIf="!wishListData.includes(product._id)"
        ></i>
        <i
          *ngIf="wishListData.includes(product._id)"
          class="fa fa-heart cursor-pointer heart"
          style="color: #e60505"
          (click)="RemoveFav(product._id)"
        ></i>
        <div class="cursor-pointer">
          <div [routerLink]="['/details', product._id]">
            <img
              [src]="product.imageCover"
              class="w-100"
              [alt]="product.title"
            />
            <h3 class="h6" *ngIf="product.category">
              {{ product.category.name }}
            </h3>
            <h4 class="h6 text-main">
              {{ product.title | term : 2 }}
            </h4>
            <div class="d-flex justify-content-between my-2">
              <span>{{ product.price | currency : "USD" }}</span>
              <div>
                <i class="fas fa-star rating-color"></i>
                <span class="text-muted">{{ product.ratingsAverage }} </span>
              </div>
            </div>
          </div>
          <button class="btn-main w-100" (click)="AddProduct(product._id)">
            Add Product
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
